:root {
  --clr-primary: #fc307b;
  --clr-accent: #2c92ef;

  --fs-700: 3.5rem;
  --fs-400: 1.25rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background: black;
  font-size: var(--fs-400);
  color: white;
  padding: 20vw 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: var(--clr-primary);
}

.text-accent {
  color: var(--clr-secondary);
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1;
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.container {
  padding: 0rem 2rem;
  max-width: 75rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid--columns {
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

/* featured grid */

.feature-grid-container {
  perspective: 100rem;
  position: relative;
}

.feature-grid-text {
  padding: 1rem;
  background: linear-gradient(
    90deg,
    hsl(255 50% 0% / .8) 75%,
    hsl(255 50% 50% / 0)
  );
}

.feature-grid {
  position: relative;
  z-index: -1;
  left: min(calc(1000px - 100vw) * -1, 0px);
  width: 55rem;
  align-self: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  transform-origin: left;
  transform: rotateY(-40deg);
}

.feature-grid > a {
  border-radius: 0.75em;
  transition: transform 350ms ease-in-out;
  overflow: hidden;
}

.feature-grid > a:hover,
.feature-grid > a:focus-visible {
  transform: scale(1.1);
  box-shadow: 0 0 1.5rem hsl(0 0% 100% / 0.8);
}

.feature-grid > :nth-child(1),
.feature-grid > :nth-child(4),
.feature-grid > :nth-child(5),
.feature-grid > :nth-child(7) {
  grid-row: span 3;
}

.feature-grid > :nth-child(2),
.feature-grid > :nth-child(3) {
  grid-row: span 2;
}

.feature-grid > :nth-child(6) {
  grid-column: 2 / span 2;
  grid-row: 3 / span 4;
}



